<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
         <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">

        <body>
            <div class="main-content">
                {{>header}}
                
                <p>This site was created by {{name}}.It use data from mapbox.com and weatherapp.net</p>
                
                <img class="naruto" src=/img/me.jpg>
            </div>
            {{>footer}}
        </body>
    </head>
</html>